<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="row-card">
    <div class="center-card">
        <div class="card border-secondary mb-3" style="max-width: 30rem;">
            <div class="card-header text-center"> {{operacion}} pedido</div>
            <div class="card-body">
                <form [formGroup]="formPedido" (ngSubmit)="addPedido()" >
                    <input formControlName="nombre" type="text" class="form-control" placeholder="Ingrese nombre" required>
                    <span *ngIf="formPedido.get('nombre')?.hasError('required') && formPedido.get('nombre')?.touched">El campo nombre es requerido</span>
                    
                    <input formControlName="descripcion" type="text" class="mt-2 form-control" placeholder="Ingrese descripcion" required>
                    <span *ngIf="formPedido.get('descripcion')?.hasError('required') && formPedido.get('descripcion')?.touched">El campo descripcion es requerido</span>

                    <input (change)="totalPedido()" formControlName="precio" type="number" class="mt-2 form-control" placeholder="Ingrese precio" required any>
                    <span *ngIf="formPedido.get('precio')?.hasError('required') && formPedido.get('precio')?.touched">El campo precio es requerido</span>

                    <input (change)="totalPedido()" formControlName="cantidad" type="number" class="mt-2 form-control" placeholder="Ingrese cantidad" required any>
                    <span *ngIf="formPedido.get('cantidad')?.hasError('required') && formPedido.get('cantidad')?.touched">El campo cantidad es requerido</span>

                    <input formControlName="total" type="number" class="mt-2 form-control" [value]="total" [placeholder]="total" required any >

                    <!-- <label for="formFile" class="form-label mt-4">Elegir imagen</label>
                    <input class="form-control" type="file" id="formFile" formControlName="imagen"> -->

                    <div class="row mt-2 text-center">
                        <div class="col-lg-6">
                            <button  [disabled]="formPedido.invalid" type="submit" class="btn btn-primary">Aceptar</button>
                        </div>
                        <div class="col-lg-6">
                            <button type="button" class="btn btn-secondary" routerLink="/pedidos">Volver</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
