<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="container">

  <div class="title">
    <h4>Usuarios</h4>
    <button type="button" class="btn btn-primary" routerLink="/adduser">Agregar Usuario</button>
  </div>


    <table *ngIf="listaUsuarios.length > 0" class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Usuario</th>
            <th scope="col">Password</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listaUsuarios" class="table-light">
            <td> {{item.nombre}} </td>
            <td> {{item.usuario}} </td>
            <td> <input type="password" [value]="item.password" disabled> </td>
            <td> {{item.email}} </td>
            <td>
              <button type="button" class="btn btn-info btn-sm" routerLink="/edituser/{{ item.codigo }}">Editar</button>
              <button (click)="deleteUsuario(item.codigo!)" type="button" class="btn btn-outline-dark btn-sm ms-2">Eliminar</button>
            </td>
          </tr>          
        </tbody>
      </table>
      <h5 *ngIf="listaUsuarios.length == 0">No hay usuarios actualmente</h5>
</div>